
# More on html here : https://www.w3schools.com/html/ <br>
# I want you to import bootstrap to build upon this simple Flask App 

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
    <head>
        <title> This is the index.html home page Hi CPP </title>
        <link rel="stylesheet" href="css.css">
    </head>
    
    <script>
      </script>
    
    <body bgcolor="orange" >
        <h1> Home Page</h1>
        <p> Its October - Get Ready for Holloween!</p>
        <p> Did you know if you create a python file with just "import this" and run the file it will show you some Python Poetry </p>
        <p>{{content}}</p> 
        <p>{{r}}</p>
        
        
        
         
        <table style="background-color:#DBF9FC">
            <tr>
            <th>Name</th>
            <th>Job Title</th> 
            <th>Email address</th>
            </tr>
            <tr>
            <td>Anna Fitzgerald</td>
            <td>Staff Writer</td>
            <td>example@company.com</td>
            </tr>
            <tr>
            <td>John Smith</td>
            <td>Marketing Manager</td>
            <td>example2@company.com</td>
            </tr>
            <tr>
            <td>Zendaya Grace</td>
            <td>CEO</td>
            <td>example2@company.com</td>
            </tr>
        </table>
        
    </body>
    
</html>