{"filter":false,"title":"requirements.txt","tooltip":"/elbcpp/ebdjango/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1637693696828,"hash":"1389d5ad4250c0b70654c061b48311ddbbe01552"}