{"changed":true,"filter":false,"title":"requirements.txt","tooltip":"/elbtest/ebdjango/requirements.txt","value":"Django==2.1.15\npytz==2021.3\nsqlparse==0.4.2\n","undoManager":{"mark":-2,"position":1,"stack":[[{"start":{"row":2,"column":0},"end":{"row":2,"column":1},"action":"insert","lines":["d"],"id":2},{"start":{"row":2,"column":1},"end":{"row":2,"column":2},"action":"insert","lines":["e"]}],[{"start":{"row":2,"column":1},"end":{"row":2,"column":2},"action":"remove","lines":["e"],"id":3},{"start":{"row":2,"column":0},"end":{"row":2,"column":1},"action":"remove","lines":["d"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":0},"end":{"row":2,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1637402551476}