{"filter":false,"title":"requirements.txt","tooltip":"/elbtest/ebdjango/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":2,"column":0},"end":{"row":2,"column":1},"action":"insert","lines":["d"],"id":2},{"start":{"row":2,"column":1},"end":{"row":2,"column":2},"action":"insert","lines":["e"]}],[{"start":{"row":2,"column":1},"end":{"row":2,"column":2},"action":"remove","lines":["e"],"id":3},{"start":{"row":2,"column":0},"end":{"row":2,"column":1},"action":"remove","lines":["d"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":2,"column":0},"end":{"row":2,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1637692853649,"hash":"3826d3db8d42ad87a40ffa2410450bb25fe56d6f"}