{"filter":false,"title":"django.config","tooltip":"/elbtest/ebdjango/.ebextensions/django.config","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":2,"column":39},"end":{"row":2,"column":40},"action":"insert","lines":["c"],"id":2},{"start":{"row":2,"column":40},"end":{"row":2,"column":41},"action":"insert","lines":["l"]},{"start":{"row":2,"column":41},"end":{"row":2,"column":42},"action":"insert","lines":["e"]},{"start":{"row":2,"column":42},"end":{"row":2,"column":43},"action":"insert","lines":["a"]},{"start":{"row":2,"column":43},"end":{"row":2,"column":44},"action":"insert","lines":["r"]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":1,"column":40},"end":{"row":1,"column":40},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1637692853568,"hash":"26702f32c7095806723518df2901da5889f69c2e"}